/* Global Styles */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: #e7e7e7;
  overflow-x: hidden !important;
  font-family: "Vazir", sans-serif;
}
.loader-container{
  background-color: #ffffff;
  z-index: 999;
  position: fixed;
  height: 100%;
  width: 100%;
}
.custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
  position: fixed;
  top: 50%;
  left: 50%;
  border:4px solid #0000;
  border-radius: 50%;
  border-color:#000000 #0000;
  animation: s6 1s infinite linear;
}
.custom-loader::before,
.custom-loader::after {    
  content:"";
  grid-area: 1/1;
  margin:2px;
  border:inherit;
  border-radius: 50%;
}
.custom-loader::before {
  border-color:#386CF4 #0000;
  animation:inherit; 
  animation-duration: .5s;
  animation-direction: reverse;
}
.custom-loader::after {
  margin:8px;
}

@keyframes s6 { 
  100%{transform: rotate(1turn)}
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #009fcf;
  border-radius: 10px;
}
/* List Styles */
.scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 998;
  animation: scrolltotopBtn 0.4s forwards;
}
@keyframes scrolltotopBtn {
  0% {
    bottom: -20px;
  }
  100% {
    bottom: 20px;
  }
}
.scrollToTopBtn:hover {
  background-color: #0056b3;
}
li {
  color: #000;
  list-style-type: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.head {
  width: 100%;
  height: 100px;
  background-color: #fff;
  position: fixed;
  top: 0%;
  z-index: 998;
  border-bottom: 1px solid #b8b8b8;
  animation: head1 1.5s forwards;
  animation-delay: 5.2s;
  opacity: 0;
}

@keyframes head1 {
  0%{
    opacity: 0;
    top: -20%;
  }
  100%{
    opacity: 1;
    top: 0%;
  }
}

.hover-color:hover {
  color: #0073d0;
  transition: 0.4s all ease;
}

/* Header Styles */
.right-item {
  float: right;
  margin: 70px 20px;
  margin-top: 20px;
  animation: head2 2s forwards;
  animation-delay: 7s;
  opacity: 0;
}

@keyframes head2{
  0%{
    opacity: 0;
    scale: 0.5;
  }
  100%{
    opacity: 1;
    scale: 1;
  }
}

#left-item {
  float: left;
  margin: 10px 20px;
  animation: head2 2s forwards;
  animation-delay: 7s;
  opacity: 0;
}

div li {
  padding: 10px 30px;
}
#Product {
  position: relative;
  right: 15px;
}
#Product:hover {
  color: #0073d0;
  transition: 0.4s all ease;
}

.logo {
  color: #fff;
  background-color: #1c91ee;
  font-size: 27px;
  font-weight: 900;
}

/* Product Item Dropdown */
#product-item {
  color: #000;
  z-index: 3;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 180px;
  top: 60px;
  background-color: #ffffff;
  padding: 5px 5px 5px 5px;
  width: 200px;
  border: 0.5px solid #b2b2b2;
  border-radius: 5px;
}
#product-item span:hover {
  color: #0073d0;
  transition: 0.4s all ease;
}

#product-item span {
  position: relative;
  right: -100px;
  padding: 10px 5px 10px 10px;
  font-weight: 600;
  font-size: 17px;
}
@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-2px, 2px);
  }
  50% {
    transform: translate(2px, -2px);
  }
  75% {
    transform: translate(-2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.vibrate {
  animation: vibrate 0.1s linear;
}
/* Login and Cart Styles */
.login-signin {
  position: relative;
  top: 13px;
  left: 25px;
}
.login-icon {
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}
.login-icon:hover {
  scale: 1.08;
}

#shop-cart {
  cursor: pointer;
  position: absolute;
  left: 99px;
  top: 20px;
  background-color: #fff;
  width: 100px;
  height: 30px;
  padding: 10px 17px;
  border-radius: 25px;
  transition: 0.4s all ease;
  border: 1px solid #0073d0;
}
#carts-item {
  position: absolute;
  top: -10px;
  left: 100px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  text-align: center;
  background-color: #0073d0;
  line-height: 27px;
  z-index: 999;
  color: #fff;
  font-weight: 600;
}
#shop-cart:hover {
  scale: 1.08;
  border: 2px solid #0073d0;
}

#shop-cart h3 {
  color: #000;
  position: relative;
  left: 37px;
  top: 0px;
  font-size: 21px;
  font-weight: 900;
}

#shop-cart img {
  position: relative;
  top: -36px;
  left: -5px;
  height: 40px;
  width: 40px;
}

/* Search Icon Styles */
#search-icon {
  color: #000;
  cursor: pointer;
  position: absolute;
  left: 250px;
  top: 32px;
}

#search-icon:hover {
  color: #0088cc;
  scale: 1.1;
  transition: 0.2s all ease-in-out;
}

/* Search Box Styles */
#search-box {
  visibility: hidden;
  position: absolute;
  top: 25px;
  left: 5px;
  animation: searchBox 2.5s forwards;
}
@keyframes searchBox {
  0% {
    left: -100%;
  }
  100% {
    left: 5px;
  }
}
#search-input {
  font-size: 18px;
  padding-left: 55px;
  height: 60px;
  width: 400px;
  border-radius: 5px;
  border: 1px solid #949494;
}

input:focus {
  outline: none;
}

#search-input::placeholder {
  font-size: 17px;
  font-weight: 500;
}
#search-input:focus {
  border: 1.75px solid #333;
}
#close-btn {
  cursor: pointer;
  position: relative;
  top: 12px;
  left: 52px;
}

#close-btn:hover {
  color: #009ae5;
  transition: 0.3s all ease;
}

#search-btn {
  border-radius: 5px;
  font-size: 18px;
  height: 52px;
  width: 87px;
  position: relative;
  right: 97px;
  top: 0.5px;
  background: #e8e8e8;
  color: #b9b9b9;
  border: none;
}

/* Mobile Search Box */
#search-box2 {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 40px;
  animation: searchBox2 2.5s forwards;
}
@keyframes searchBox2 {
  0% {
    left: -100%;
  }
  100% {
    left: 40px;
  }
}
#search-input2 {
  font-size: 18px;
  padding-left: 40px;
  height: 40px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #949494;
}

input:focus {
  outline: none;
}

#search-input2::placeholder {
  font-size: 15px;
  font-weight: 500;
}

#close-btn2 {
  cursor: pointer;
  position: relative;
  top: 9px;
  left: 40px;
}

#close-btn2:hover {
  color: #009ae5;
  transition: 0.3s all ease;
}

#search-btn2 {
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
  height: 37px;
  width: 80px;
  position: relative;
  right: 87px;
  top: 4.4px !important;
  background: #e8e8e8;
  color: #b9b9b9;
  border: none;
}

#search-icon2 {
  width: 20px;
  display: none;
  position: absolute;
  left: 80px;
  top: 11px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
#search-icon2:hover {
  transform: scale(1.06);
  color: #007bb5;
}

/* Top Navigation Styles */
.topnav {
  display: none;
  overflow: hidden;
  position: relative;
}
.all-items {
  display: none;
  width: 100%;
  background-color: #fff;
  position: relative;
  top: 46px;
  height: 510% !important;
  overflow: hidden;
  border-top: 1px solid #ddd;
  transition: display 0.4s ease-in-out;
  animation: navanimate 0.6s forwards;
  border-bottom: 1px solid #b2b2b2;
}
@keyframes navanimate {
  0% {
    height: 0;
  }
  100% {
    height: 232px;
  }
}
.all-items li {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  right: 20px;
  transition: background-color 0.25s ease-in-out;
}

.all-items li:hover {
  color: #fff;
  background-color: #009ae5;
}

.shop-icon2 {
  display: none;
  position: absolute;
  top: 5px;
  left: 118px;
  font-size: 29px;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.shop-icon2:hover {
  scale: 1.05;
  color: #1c91ee;
}
.shop-icon2:hover #number-item {
  color: #000;
}
#number-item {
  position: absolute;
  text-align: center;
  line-height: 26px;
  top: -2px;
  left: 20px;
  height: 25px;
  width: 25px;
  background-color: #0073d0;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 700;
}
.hum-menu {
  display: none; /* نمایش دکمه منو */
  position: absolute;
  top: 0;
  right: 0;
  background-color: #009ae5;
  color: #fff;
  padding: 11px 15px;
  font-size: 18px;
  cursor: pointer;
}
.login-signin2 {
  display: none;
  position: absolute;
  top: 3px;
  left: 170px;
}
.logo2 {
  display: none; /* نمایش لوگو */
  position: absolute;
  top: 0;
  left: 0;
  padding: 11px 10px;
  font-size: 16px !important;
  color: #fff;
  background-color: #009ae5;
}
.nav1 {
  display: none;
  background-color: #fff;
  height: 46px;
  width: 100%;
  position: fixed;
  z-index: 3;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.hum-icon {
  position: absolute;
  top: -1px;
  right: -1px;
}
.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.active {
  width: 40px;
  background-color: #0073d0;
  color: #fff;
  font-size: 27px;
  font-weight: 900;
}

/* login section */
#form {
  display: none;
  position: fixed;
  background-color: #fffffff6;
  width: 100%;
  height: 100%;
  z-index: 1000;
  animation: Loginanima2 1.5s forwards;
}
@keyframes Loginanima2 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
#form-close {
  position: absolute;
  right: 30px;
  top: 30px;
  background-color: #ddd;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  animation: Loginanima1 1s forwards;
  animation-delay: 1.7s;
  opacity: 0;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}
#form-close i {
  font-size: 30px;
  cursor: pointer;
  line-height: 50px;
}
#form-close:hover {
  background-color: #009fe9;
  color: #fff;
}
#login-pages {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10%;
  margin: 0 auto;
  border: 1.5px solid #00d131;
  width: 500px;
  height: auto;
  padding-top: 50px;
  border-radius: 8px;
  box-shadow: 0 7px 20px rgba(0, 255, 21, 0.16);
  background-color: #ffffff;
  margin-bottom: 40px;
  scale: 1;
  animation: Loginanima 1s forwards;
}
@keyframes Loginanima {
  0% {
    scale: 0.7;
  }
  100% {
    scale: 1;
  }
}
#Login-title {
  position: relative;
  bottom: 25px;
  font-size: 35px;
}
#lable-email {
  font-size: 15px;
  position: relative;
  right: 120px;
  top: -3px;
  padding: 0 6px;
  background-color: #fff;
  z-index: 999;
}
#lable-password {
  font-size: 15px;
  position: relative;
  right: 118px;
  top: -13px;
  padding: 0 6px;
  background-color: #fff;
  z-index: 999;
}
#login-pages input {
  width: 400px;
  height: 50px;
  margin: 5px 0;
  font-size: 22px;
  border-radius: 8px;
}
#login-pages #login-email:focus {
  border: 2.5px solid #00d131;
}
#login-pages #login-password:focus {
  border: 2.5px solid #00d131;
}
#login-email {
  position: relative;
  bottom: 20px;
  padding-left: 5px;
  font-size: 18px !important;
  border: 1px solid #00d131;
}
#login-password {
  position: relative;
  bottom: 30px;
  padding-left: 5px;
  font-size: 18px !important;
  border: 1px solid #00d131;
}
#login-btn {
  position: relative;
  bottom: 20px;
  cursor: pointer;
  border: none;
  background-color: #00d131;
  color: #fff;
  transition: background-color 0.4s ease-in-out;
}
#login-btn:hover {
  background-color: #5aff80;
}
@media (max-width: 500px) {
  #login-pages{
    width: 450px;
  }
}
@media (max-width: 438px) {
  #login-pages{
    width: 400px;
  }
  #login-pages input {
    width: 300px;
    height: 50px;
    margin: 5px 0;
    font-size: 15px;
    border-radius: 8px;
  }
  #lable-email {
    font-size: 15px;
    position: relative;
    right: 60px;
    top: -4px;
    padding: 0 6px;
    background-color: #fff;
    z-index: 999;
  }
  #lable-password {
    font-size: 15px;
    position: relative;
    right: 60px;
    top: -14px;
    padding: 0 6px;
    background-color: #fff;
    z-index: 999;
  }
}
@media (max-width: 378px) {
  #login-pages{
    width: 300px;
  }
  #login-pages input {
    width: 200px;
    height: 40px;
    margin: 5px 0;
    font-size: 10px;
    border-radius: 8px;
  }
  #lable-email {
    font-size: 12px;
    position: relative;
    right: 30px;
    top: -6px;
    padding: 0 6px;
    background-color: #fff;
    z-index: 999;
  }
  #lable-password {
    font-size: 12px;
    position: relative;
    right: 30px;
    top: -16px;
    padding: 0 6px;
    background-color: #fff;
    z-index: 999;
  }
}
/* sign up  */
#sign-up-pages {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10%;
  margin: 0 auto;
  box-shadow: 0 7px 20px rgba(0, 119, 255, 0.16);
  border: 1.5px solid #007bb5;
  background-color: #fff;
  width: 500px;
  height: auto;
  padding-top: 50px;
  border-radius: 15px;
  animation: Loginanima 1s forwards;
}
#sign-up-pages h3 {
  font-size: 15px;
  position: relative;
  bottom: 7px;
}
#sign-up-title {
  position: relative;
  bottom: 25px;
  z-index: 999;
}
#sign-up-pages input {
  width: 400px;
  height: 50px;
  margin: 5px 0;
  font-size: 22px;
  border-radius: 8px;
  border: 1px solid #007bb5;
  font-size: 15px;
}
#sign-up-email {
  z-index: 998;
  position: relative;
  bottom: 20px;
  padding-left: 5px;
}
#sign-up-email:focus {
  border: 2px solid #007bb5;
}
#lable-email2 {
  z-index: 999;
  position: relative;
  right: 115px;
  background-color: #fff;
  padding: 0 5px;
  font-size: 18px;
}
#sign-up-password {
  position: relative;
  bottom: 30px;
  z-index: 998;
  padding-left: 5px;
}
#sign-up-password:focus {
  border: 2px solid #007bb5;
}
#lable-password2 {
  z-index: 999;
  position: relative;
  right: 80px;
  bottom: 15px;
  background-color: #fff;
  padding: 0 5px;
  font-size: 18px;
}
#sign-up-btn {
  font-size: 20px !important;
  font-weight: 700;
  color: #fff;
  background-color: #007bff;
  border: none !important;
  position: relative;
  bottom: 20px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}
#sign-up-btn:hover {
  background-color: #009fe9;
}
@media (max-width: 500px) {
  #sign-up-pages{
    width: 450px;
  }
}
@media (max-width: 438px) {
  #sign-up-pages{
    width: 400px;
  }
  #sign-up-pages input {
    width: 300px;
    height: 50px;
    margin: 5px 0;
    font-size: 15px;
    border-radius: 8px;
  }
  #lable-email2 {
    font-size: 15px;
    position: relative;
    right: 60px;
    top: -4px;
    padding: 0 6px;
    background-color: #fff;
    z-index: 999;
  }
  #lable-password2 {
    font-size: 15px;
    position: relative;
    right: 60px;
    left: -57px;
    top: -17px;
    padding: 0 6px;
    background-color: #fff;
    z-index: 999;
  }
}
@media (max-width: 378px) {
  #sign-up-pages{
    width: 300px;
  }
  #sign-up-pages input {
    width: 200px;
    height: 40px;
    margin: 5px 0;
    font-size: 10px;
    border-radius: 8px;
  }
  #lable-email2 {
    font-size: 12px !important;
    position: relative;
    right: 10px;
    top: -6px;
    padding: 0 6px;
    background-color: #fff;
    z-index: 999;
  }
  #lable-password2 {
    font-size: 12px !important;
    position: relative !important;
    top: -20px;
    left: -32px;
    padding: 0 6px;
    background-color: #fff;
    z-index: 999;
  }
}
/* login sign up btn */
#form button {
  position: relative;
  top: 45%;
  left: 35%;
  width: 15%;
  height: 10%;
  font-size: 22px;
  cursor: pointer;
  border: none;
  animation: Loginanima1 1s forwards;
  animation-delay: 1.7s;
  opacity: 0;
}
@keyframes Loginanima1 {
  0% {
    scale: 0.7;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
#sign-section-btn {
  color: #fff;
  background-color: #007bff;
  border-radius: 7px;
  transition: background-color 0.4s ease-in-out;
}
#sign-section-btn:hover {
  background-color: #70b5ff;
}
#login-section-btn {
  color: #fff;
  background-color: #00d131;
  border-radius: 7px;
  transition: background-color 0.4s ease-in-out;
}
#login-section-btn:hover {
  background-color: #69ff76;
}
#back-btn {
  display: none;
  position: absolute;
  top: 30px;
  font-size: 22px;
  left: 20px;
  color: #fff;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  transition: opacity 0.4s ease-in-out;
  animation: Loginanima 1s forwards;
}
#back-btn:hover {
  opacity: 0.7;
}
/* product cart section */
#product-section-all {
  display: none;
  background-color: #f3f3f3f6;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  animation: productsec 2s forwards;
}
@keyframes productsec {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.purchase-section {
  direction: rtl;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  animation: sendingsec 1s forwards;
  animation-delay: 2s;
  opacity: 0;
}
@keyframes sendingsec {
  0% {
    scale: 0.7;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
.step {
  text-align: center;
  flex: 1;
}

.step i {
  font-size: 30px;
  color: #555;
  margin-bottom: 10px;
}

.line {
  height: 2px;
  background-color: #ccc;
  flex: 1;
  margin: 0 10px;
}

.line:first-child {
  display: none; /* مخفی کردن خط اول */
}

.sending-icon h3 {
  color: #555;
  margin: 10px 0;
  font-size: 15px;
}

.sending-icon p {
  font-size: 12px;
  color: #555;
}
@media (max-width: 768px) {
  .step h3 {
    display: none;
  }
  .step p {
    display: none;
  }
  .step {
    margin-bottom: 20px; /* فاصله بین بخش‌ها */
  }
  .step:last-child {
    margin-bottom: 0; /* حذف فاصله آخرین بخش */
  }

  .step i {
    font-size: 30px; /* کاهش اندازه آیکون */
  }

  #product-section-all h3 {
    font-size: 16px; /* کاهش اندازه عنوان */
  }
  .Total-price {
    width: 90% !important;
    position: absolute !important;
    left: 5vh;
    margin: 0 auto;
  }
}

@media (max-width: 425px) {
  .step i {
    font-size: 24px; /* کاهش بیشتر اندازه آیکون */
  }

  #product-section-all h3 {
    font-size: 14px; /* کاهش بیشتر اندازه عنوان */
  }
}
@media (max-width: 380px) {
  #order-registration-btn {
    padding: 11px 25px !important;
  }
  #back-carts {
    padding: 11px 40px !important;
  }
  #order-registration-btn i {
    position: relative;
    left: -13px !important;
  }
}
.Cart-products {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 40px auto;
  height: 10vh;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 10px rgba(31, 45, 61, 0.16);
  animation: sendingsec 1s forwards;
  animation-delay: 2s;
  opacity: 0;
}
.Total-price {
  direction: rtl;
  display: flex;
  justify-content: space-between;
  width: 90%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 30px 0;
  margin: 0 auto;
  animation: sendingsec 1s forwards;
  animation-delay: 2s;
  opacity: 0;
}
.Total-price p {
  color: #949494;
  font-size: 16px;
  font-weight: 600;
}
.Total-price h5 {
  color: #333;
  font-size: 17px;
  font-weight: 600;
}
.cats-section-btn {
  direction: rtl;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 160px auto;
}
.cats-section-btn button {
  border: none;
  font-size: 17px;
  cursor: pointer;
  border-radius: 5px;
  animation: sendingsec 1s forwards;
  animation-delay: 2s;
  opacity: 0;
}
#back-carts {
  background-color: #ffffff;
  color: #0e00d0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.06);
  padding: 11px 60px;
  font-weight: 400;
  transition: transform 0.25s ease-in-out;
}
#back-carts:hover {
  transform: translateY(-5%);
}
#back-carts i {
  position: relative;
  left: 30px;
  font-size: 20px;
  top: 1.5px;
}
#order-registration-btn {
  opacity: 0.7;
  background-color: #dddddd;
  color: #686868;
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.06); */
  padding: 11px 45px;
  font-weight: 400;
  cursor: not-allowed;
  animation: sendingsec 1s forwards;
  animation-delay: 2s;
  opacity: 0;
}
#order-registration-btn i {
  position: relative;
  left: -27px;
  font-size: 20px;
  top: 1.5px;
}
/* Swiper Styles */
.swiper {
  position: relative;
  top: 150px;
  width: 80%;
  height: 450px;
  margin-bottom: 200px;
  animation: head2 2s forwards;
  animation-delay: 7s;
  opacity: 0;
}

.swiper-slide {
  height: 450px;
  width: 80%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next {
  background-color: #fff;
  width: 60px !important;
  height: 60px !important;
  font-size: 10px !important;
  border-radius: 15px;
}

.swiper-button-prev {
  background-color: #fff;
  width: 60px !important;
  height: 60px !important;
  font-size: 10px !important;
  border-radius: 15px;
}

/* Gallery Styles */
.gallery {
  position: relative;
  left: 10%;
  top: 50px;
  display: flex; /* استفاده از فلکس باکس */
  justify-content: space-between; /* فاصله بین آیتم‌ها */
  width: 80%; /* عرض کل 80% */
}

.item {
  flex: 1; /* هر آیتم به اندازه مساوی فضای موجود را اشغال می‌کند */
  margin: 10px; /* حاشیه بین آیتم‌ها */
  padding: 10px; /* فضای داخلی */
  background-color: #fff; /* رنگ پس‌زمینه */
  text-align: center; /* متن در وسط */
  border: 1px solid #ccc; /* حاشیه */
  border-radius: 5px; /* گوشه‌های گرد */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* سایه */
}

.item img {
  width: 100%; /* عرض تصویر به اندازه کامل آیتم */
  height: auto; /* حفظ نسبت ابعاد تصویر */
  border-radius: 5px; /* گوشه‌های گرد تصویر */
  transition: transform 0.4s;
}

.item img:hover {
  transform: scale(1.05);
}

.item h3 {
  margin-top: 10px; /* فاصله بالای عنوان */
  font-size: 20px; /* اندازه فونت عنوان */
  color: #0073d0; /* رنگ عنوان */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .gallery {
    flex-direction: column; /* تغییر به حالت ستونی در صفحه نمایش‌های کوچک */
    align-items: center; /* مرکز قرار دادن در محور X */
    margin-top: 70px;
  }

  .item {
    width: 100%; /* عرض کامل در حالت ستونی */
    margin: 10px 0; /* حاشیه عمودی */
  }
}
@media (max-width: 991px) {
  #next,
  #prev {
    top: 90%;
    height: 3rem !important;
    width: 3rem !important;
    font-size: 10px !important;
  }

  #prev {
    left: auto;
    right: 3.8rem;
  }
}
@media (max-width: 1168px) {
  .head {
    display: none;
  }
  .login-signin2 {
    display: block;
  }
  .shop-icon2 {
    display: block;
  }
  .hum-menu {
    display: block;
  }
  .logo2 {
    display: block;
  }
  .nav1 {
    display: block;
    margin-bottom: 100px;
  }
  .swiper {
    position: relative;
    top: 100px !important;
    margin-bottom: 100px !important;
    height: 300px; /* ارتفاع کمتر برای صفحه نمایش‌های کوچک */
  }

  #search-icon2 {
    display: block;
  }

  .topnav {
    display: block;
  }

  header {
    display: none;
  }

  .swiper {
    top: 20px;
  }
}

@media (max-width: 480px) {
  #next,
  #prev {
    top: 85%;
    height: 3rem !important; /* 64px */
    width: 3rem !important; /* 64px */
    font-size: 0.5rem !important;
  }

  #prev {
    left: auto;
    right: 3.7rem;
  }
  .swiper {
    height: 200px; /* ارتفاع کمتر برای صفحه نمایش‌های خیلی کوچک */
  }

  #search-icon2 {
    display: block;
  }

  .topnav {
    display: block;
  }

  header {
    display: none;
  }

  #search-btn2 {
    position: absolute;
    top: 6px;
    left: 293px;
  }
}

@media (max-width: 500px) {
  #search-btn2 {
    position: absolute;
    top: 6px;
    left: 293px;
  }
}

@media (max-width: 508px) {
  #search-btn2 {
    position: absolute;
    top: 6px;
    left: 293px;
  }
}

@media (max-width: 425px) {
  #search-box2 {
    position: relative;
    left: 40px;
    top: -47px;
  }

  #search-input2 {
    width: 200px;
  }

  #search-input2::placeholder {
    font-size: 14px;
  }

  #close-btn {
    font-size: 17px;
  }

  #search-btn2 {
    width: 60px;
    position: absolute;
    left: 213px;
  }
}

.products-section {
  max-width: 1200px;
  margin: 170px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.section-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.view-more {
  display: block;
  margin: 0 auto 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-more:hover {
  background-color: #0056b3;
}

.products-container {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-item {
  position: relative;
  width: calc(25% - 10px); /* 4 آیتم در ردیف */
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.product-item:hover {
  transform: translateY(-5px);
}

.discount-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ff5733;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.product-item img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.product-item h3 {
  margin: 10px 0;
  font-size: 18px;
  text-align: center;
}

.price {
  text-align: center;
  font-size: 16px;
  color: #333;
}

.products-section button {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.products-section button:hover {
  background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .product-item {
    width: calc(50% - 10px); /* 2 آیتم در ردیف */
  }
}

@media (max-width: 425px) {
  .product-item {
    width: 100%; /* 1 آیتم در ردیف */
  }
}
@media (max-width: 480px){
  .products-section{
    width: 100%;
  }
}
/* featured section */
.slider-container {
  margin: 120px 0;
  position: relative;
  width: 100%;
  z-index: 996;
  overflow-x: hidden;
}
.slider-title {
  width: 100%;
  position: relative;
  top: -80px;
  left: 0;
}
.slider-title h1 {
  color: #999999;
  font-size: 23px;
  position: absolute;
  text-align: center;
  background-color: #ffffff;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
}
.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  background-color: #fff;
  min-width: 25%; /* 4 اسلاید در 1440 پیکسل */
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.slide img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.slider button {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.slider button:hover {
  background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 1440px) {
  .slide {
    min-width: 25%; /* 4 اسلاید در 1440 پیکسل */
  }
}

@media (max-width: 768px) {
  .slide {
    min-width: 50%; /* 2 اسلاید در 768 پیکسل */
  }
}

@media (max-width: 425px) {
  .slide {
    min-width: 100%; /* 1 اسلاید در 425 پیکسل */
  }
}
.more-button {
  background-color: #28a745 !important;
  transition: background-color 0.3s ease-in-out;
}
.more-button:hover {
  background-color: #156b29 !important;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 25px;
  font-weight: 700;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Services Section */
.services {
  margin-top: 50px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  gap: 20px;
  padding: 100px 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.services-title {
  position: absolute;
  left: 47%;
  z-index: 996;
  transform: translateY(-700%);
}
.service {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(25% - 20px);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
}

.service:hover {
  transform: translateY(-5px);
}

.service i {
  font-size: 40px;
  color: #009688;
  margin-bottom: 10px;
}

.service h3 {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}

.service p {
  color: #666;
  font-size: 14px;
}

/* Responsive Styles for Services */
@media (max-width: 768px) {
  .services-title {
    transform: translateY(-1250%);
    left: 42%;
  }
  .service {
    flex: 1 1 calc(60% - 20px);
  }
}

@media (max-width: 480px) {
  .service {
    flex: 1 1 100%;
  }
}

/* Social Section */
.social-container {
  position: relative;
  top: 120px;
  width: 80%;
  margin: 0px auto;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* برای ریسپانسیو شدن */
  padding: 100px 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.social-title {
  position: absolute;
  top: 20px;
  left: 45%;
  z-index: 996;
}
.social-follow:hover {
  transform: translateY(-5px);
}

.social-follow {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 20px;
  text-align: center;
  flex: 1 1 calc(45% - 20px); /* هر بخش 45% عرض می‌گیرد */
  margin: 10px; /* فاصله بین بخش‌ها */
  transition: transform 0.3s;
}

.social-follow i {
  font-size: 50px;
  margin-right: 15px;
}

.instagram-icon {
  color: #e1306c; /* رنگ مخصوص اینستاگرام */
}

.telegram-icon {
  color: #0088cc; /* رنگ مخصوص تلگرام */
}

.social-follow h2 {
  font-size: 24px;
  color: #333;
  margin: 0;
  flex: 1 1 100%; /* برای ریسپانسیو شدن */
}

.social-follow p {
  font-size: 16px;
  color: #666;
  margin-top: 5px;
  flex: 1 1 100%; /* برای ریسپانسیو شدن */
}

.social-id {
  font-weight: bold;
  color: #e1306c; /* رنگ مخصوص اینستاگرام */
  margin-top: 10px;
}

@media (max-width: 768px) {
  .social-title {
    left: 40%;
  }
  .social-title h1 {
    font-size: 22px !important;
  }
  .social-follow {
    flex: 1 1 100%; /* در اندازه‌های کوچک‌تر هر بخش 100% عرض می‌گیرد */
    margin: 10px 0; /* فاصله عمودی بین بخش‌ها */
  }
}

/* FAQ Section */
.FAQ-title {
  position: absolute;
  transform: translateY(-200%);
  left: 45%;
  z-index: 996;
}
.faq-container {
  margin-top: 350px !important;
  margin-bottom: 200px !important;
  width: 80%;
  margin: 220px auto 100px auto;
  display: flex;
  flex-direction: column;
  gap: 20px; /* فاصله بین سوالات */
  padding: 100px 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.faq-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.faq-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.faq-item i {
  font-size: 30px;
  margin-right: 15px;
  color: #007bb5; /* رنگ آیکون */
}

.faq-item h3 {
  font-size: 20px;
  color: #333;
  margin: 0;
  flex: 1; /* برای استفاده از فضای باقی‌مانده */
}

.faq-item p {
  font-size: 16px;
  color: #666;
  margin-top: 10px;
  display: none; /* مخفی کردن پاسخ به طور پیش‌فرض */
}

.faq-item.active p {
  display: block;
}
.faq-item.active {
  width: 100%;
}

@media (max-width: 768px) {
  .FAQ-title {
    left: 40% !important;
  }
  .FAQ-title h1 {
    font-size: 22px !important;
  }
  .faq-item h3 {
    font-size: 18px; /* اندازه متن عنوان در اندازه‌های کوچک‌تر */
  }

  .faq-item p {
    font-size: 14px; /* اندازه متن پاسخ در اندازه‌های کوچک‌تر */
  }

  .faq-item.active {
    width: 80%;
  }
}
/* Footer Styles */
footer {
  border-top: 1px solid #bbb;
  background-color: #fff;
  color: #000;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1 1 30%; /* هر بخش 30% عرض می‌گیرد */
  margin: 10px;
}

.footer-section h3 {
  font-size: 20px;
  margin-bottom: 15px;
  position: relative;
}

.footer-section h3::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #007bb5; /* رنگ خط زیر عنوان */
  margin-top: 5px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  position: relative;
  left: -40px;
  color: #000;
  margin: 10px 0;
  transition: color 0.3s;
}

.footer-section ul li:hover {
  color: #007bb5; /* رنگ تغییر در هاور */
}

.footer-section ul li i {
  margin-right: 8px;
  color: #007bb5; /* رنگ آیکون */
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

/* Responsive Styles for Footer */
@media (max-width: 425px) {
  #search-box2 {
    top: 0px;
  }
}
@media (max-width: 768px) {
  .footer-section {
    flex: 1 1 100%; /* در اندازه‌های کوچک‌تر هر بخش 100% عرض می‌گیرد */
  }
}

/* Additional Responsive Styles */
@media (max-width: 768px) {
  .product-item {
    flex: 1 1 calc(42% - 20px); /* دو محصول در یک ردیف */
  }
  .featured-title {
    position: relative;
    left: -10px !important;
  }
}
@media (max-width: 336px) {
  .featured-title h1 {
    font-size: 18px !important;
  }
  .featured-title h1 img {
    position: relative;
    top: 10px;
    left: 0px !important;
    height: 30px !important;
    width: 30px !important;
  }
  .header h2 {
    position: relative;
    left: 12px;
    font-size: 18px !important;
  }
  .header h2 img {
    position: relative;
    top: 7px;
    left: -3px;
    height: 30px !important;
    width: 30px !important;
  }
  .view-more {
    padding: 0 !important;
    height: 37px !important;
    width: 102px;
    line-height: -50px;
  }
}
@media (max-width: 560px) {
  .featured-title {
    position: relative;
    left: -50px !important;
  }
}
@media (max-width: 480px) {
  .product-item {
    flex: 1 1 100%; /* یک محصول در یک ردیف */
  }
}
@media (max-width: 1024px) {
  .featured-title h1 {
    font-size: 23px;
    top: -10px;
    left: 90px;
  }
  .featured-title img {
    width: 40px !important;
    height: 40px !important;
    left: 260px !important;
  }
  .item-icon {
    height: 40px;
    width: 40px;
    left: -5px;
  }
}
